<section class="match-up large-bottom-spacing">
    <div class="nes-container with-title">
        <p class="title">Winner</p>
        <div class="team-group">
            <div class="player">
                <app-player [player]="winner.player" [displayName]="winner.text"></app-player>
                <i class="nes-icon trophy is-large"></i>
            </div>
        </div>
    </div>

    @if (losers.length > 0) {
    <div class="nes-container with-title">
        <p class="title">Losers</p>
        <div class="team-group">
            @for (loser of losers; track $index) {
            <div class="player">
                <app-player [player]="loser.player" [displayName]="loser.text"></app-player>
                <i class="nes-icon close is-large"></i>
            </div>
            }
        </div>
    </div>
    }
</section>

<button (click)="playAgainClicked()" type="button" class="nes-btn is-primary large-bottom-spacing">Rematch</button>

<div class="nes-table-responsive large-bottom-spacing">
    <table class="nes-table is-bordered is-centered">
        <thead>
            <tr>
                <th></th>
                <th>1st <i class="nes-icon trophy"></i>
                </th>
                @if (players.length > 1) {
                <th>2nd</th>
                }
                @if (players.length > 2) {
                <th>3rd</th>
                }
                @if (players.length > 3) {
                <th>4th</th>
                }
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Overall Score</td>
                @for (award of scoreOrder; track $index)
                {
                <td>
                    <div class="award">
                        <app-player [player]="award.player" [displayName]="award.text"></app-player>
                    </div>
                </td>
                }
            </tr>
            <tr>
                <td>Total Eagles</td>
                @for (award of totalEaglesOrder; track $index)
                {
                <td>
                    <div class="award">
                        <app-player [player]="award.player" [displayName]="award.text"></app-player>
                    </div>
                </td>
                }
            </tr>
            <tr>
                <td>Total Birdies</td>
                @for (award of totalBirdiesOrder; track $index)
                {
                <td>
                    <div class="award">
                        <app-player [player]="award.player" [displayName]="award.text"></app-player>
                    </div>
                </td>
                }
            </tr>
            <tr>
                <td>Total Pars</td>
                @for (award of totalParsOrder; track $index)
                {
                <td>
                    <div class="award">
                        <app-player [player]="award.player" [displayName]="award.text"></app-player>
                    </div>
                </td>
                }
            </tr>
            <tr>
                <td>Total Boogies</td>
                @for (award of totalBoogiesOrder; track $index)
                {
                <td>
                    <div class="award">
                        <app-player [player]="award.player" [displayName]="award.text"></app-player>
                    </div>
                </td>
                }
            </tr>
        </tbody>
    </table>
</div>

<app-score-card [players]="players"></app-score-card>