<div class="nes-table-responsive large-bottom-spacing">
    <table class="nes-table is-bordered is-centered">
        <thead>
            <tr>
                <th></th>
                <th>1st <i class="nes-icon trophy"></i>
                </th>
                @if (players.length > 1) {
                <th>2nd</th>
                }
                @if (players.length > 2) {
                <th>3rd</th>
                }
                @if (players.length > 3) {
                <th>4th</th>
                }
            </tr>
        </thead>
        <tbody>
            @if (showAlbatrossColumn) {
            <tr>
                <td>Total Albatrosses</td>
                @for (award of totalAlbatrossOrder; track $index)
                {
                <td>
                    <div class="award">
                        <app-player [player]="award.player" [displayName]="award.text"></app-player>
                    </div>
                </td>
                }
            </tr>
            }

            <tr>
                <td>Total Eagles</td>
                @for (award of totalEaglesOrder; track $index)
                {
                <td>
                    <div class="award">
                        <app-player [player]="award.player" [displayName]="award.text"></app-player>
                    </div>
                </td>
                }
            </tr>
            <tr>
                <td>Total Birdies</td>
                @for (award of totalBirdiesOrder; track $index)
                {
                <td>
                    <div class="award">
                        <app-player [player]="award.player" [displayName]="award.text"></app-player>
                    </div>
                </td>
                }
            </tr>
            <tr>
                <td>Total Pars</td>
                @for (award of totalParsOrder; track $index)
                {
                <td>
                    <div class="award">
                        <app-player [player]="award.player" [displayName]="award.text"></app-player>
                    </div>
                </td>
                }
            </tr>
            <tr>
                <td>Total Boogies</td>
                @for (award of totalBoogiesOrder; track $index)
                {
                <td>
                    <div class="award">
                        <app-player [player]="award.player" [displayName]="award.text"></app-player>
                    </div>
                </td>
                }
            </tr>
        </tbody>
    </table>
</div>