<p class="small-bottom-spacing nes-text is-primary"><b>Game Settings</b></p>

<section class="small-bottom-spacing">
    <div class="nes-setting-option">
        <div>
            Albatross on Triple?
        </div>
        <div class="nes-radio-list">
            <label>
                <input type="radio" class="nes-radio" name="albatrossOnTriple" [(ngModel)]="settings.albatrossOnTriple"
                    [value]="true" />
                <span>Yes</span>
            </label>

            <label>
                <input type="radio" class="nes-radio" name="albatrossOnTriple" [(ngModel)]="settings.albatrossOnTriple"
                    [value]="false" />
                <span>No</span>
            </label>
        </div>
    </div>

    <div class="nes-setting-option">
        <div>
            Number of Holes
        </div>
        <div class="nes-radio-list">
            <label>
                <input type="radio" class="nes-radio" name="numberOfHoles" [(ngModel)]="settings.numberOfHoles"
                    [value]="18" />
                <span>18</span>
            </label>

            <label>
                <input type="radio" class="nes-radio" name="numberOfHoles" [(ngModel)]="settings.numberOfHoles"
                    [value]="9" />
                <span>9</span>
            </label>

            <label>
                <input type="radio" class="nes-radio" name="numberOfHoles" [(ngModel)]="settings.numberOfHoles"
                    [value]="2" />
                <span>2</span>
            </label>
        </div>
    </div>
</section>

<button (click)="confirmSettings()" class="nes-btn">Okay</button>