h1 {
    text-align: center;
    font-size: 4rem;
}

h3 {
    text-align: center;
    font-size: 2rem;
}

a {
    text-align: center;
    font-size: 1.5rem;
    text-decoration: none;
    color: rgb(236, 236, 236);

}

.game-type {
    border: 1px solid white
}