<section class="match-up large-bottom-spacing">
    <div class="nes-container with-title" [style.background-color]="winningTeam.colour">
        <p class="title">Winners </p>
        <div class="team-group">
            <div class="player">
                <app-player [player]="winningTeam.firstThrower"></app-player>
                <i class="nes-icon trophy is-large"></i>


            </div>
            <div class="player">
                <app-player [player]="winningTeam.secondThrower"></app-player>
                <i class="nes-icon trophy is-large"></i>

            </div>
        </div>
    </div>

    <div>vs</div>

    <div class="nes-container with-title" [style.background-color]="losingTeam.colour">
        <p class="title">Losers</p>
        <div class="team-group">
            <div class="player">
                <app-player [player]="losingTeam.firstThrower"></app-player>
                <i class="nes-icon close is-large"></i>
            </div>
            <div class="player">
                <app-player [player]="losingTeam.secondThrower"></app-player>
                <i class="nes-icon close is-large"></i>
            </div>
        </div>

    </div>
</section>

<button (click)="playAgainClicked()" type="button" class="nes-btn is-primary large-bottom-spacing">Rematch</button>


<div class="nes-container with-title">
    <p class="title">Leaderboard</p>

    <div class="nes-table-responsive">
        <table class="nes-table is-bordered is-centered">
            <thead>
                <tr>
                    <th></th>
                    <th>1st <i class="nes-icon trophy"></i>
                    </th>
                    <th>2nd</th>
                    <th>3rd</th>
                    <th>4th</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Attack Points</td>
                    @for (award of attackingOrder; track $index)
                    {
                    <td>
                        <div class="award">
                            <app-player [player]="award.player" [displayName]="award.text"></app-player>
                        </div>
                    </td>
                    }
                </tr>
                <tr>
                    <td>Defence Points</td>
                    @for (award of defendingOrder; track $index)
                    {
                    <td>

                        <div class="award">
                            <app-player [player]="award.player" [displayName]="award.text"></app-player>
                        </div>
                    </td>
                    }
                </tr>
                <tr>
                    <td>Om Om Oms</td>
                    @for (award of omOmOmOrder; track $index)
                    {
                    <td>

                        <div class="award">
                            <app-player [player]="award.player" [displayName]="award.text"></app-player>
                        </div>
                    </td>
                    }
                </tr>
                <tr>
                    <td>Pointless Turns</td>
                    @for (award of pointlessOrder; track $index)
                    {
                    <td>

                        <div class="award">
                            <app-player [player]="award.player" [displayName]="award.text"></app-player>
                        </div>
                    </td>
                    }
                </tr>
            </tbody>
        </table>
    </div>
</div>