<div id="score-table"></div>
<h2>Throwing: {{player}}</h2>
<div class="darts-board">
  <div class="inner-bull" (click)="handleHit('inner-bull')"></div>
  <div class="outer-bull" (click)="handleHit('outer-bull')"></div>

  @for (number of numbers; track $index) {
  <div
    [ngClass]="{'disabled': unavailableNumbers.includes(number), 'team1': coloredNumbersSetOne.includes(number), 'team2': coloredNumbersSetTwo.includes(number)}"
    [class]="'single-inner-' + number" (click)="handleHit('single-inner-' + number)"></div>
  }

  @for (number of numbers; track $index) {
  <div
    [ngClass]="{'disabled': unavailableNumbers.includes(number), 'colour-multiple-1': coloredNumberMultipliersSetOne.includes(number), 'colour-multiple-2': coloredNumberMultipliersSetTwo.includes(number), 'colour-multiple-3': coloredNumberMultipliersSetThree.includes(number), 'colour-multiple-4': coloredNumberMultipliersSetFour.includes(number)}"
    [class]="'triple-' + number" (click)="handleHit('triple-' + number)"></div>
  }

  @for (number of numbers; track $index) {
  <div
    [ngClass]="{'disabled': unavailableNumbers.includes(number), 'team1': coloredNumbersSetOne.includes(number), 'team2': coloredNumbersSetTwo.includes(number)}"
    [class]="'single-outer-' + number" (click)="handleHit('single-outer-' + number)"></div>
  }

  @for (number of numbers; track $index) {
  <div
    [ngClass]="{'disabled': unavailableNumbers.includes(number), 'colour-multiple-1': coloredNumberMultipliersSetOne.includes(number), 'colour-multiple-2': coloredNumberMultipliersSetTwo.includes(number), 'colour-multiple-3': coloredNumberMultipliersSetThree.includes(number), 'colour-multiple-4': coloredNumberMultipliersSetFour.includes(number)}"
    [class]="'double-' + number" (click)="handleHit('double-' + number)"></div>
  }

  <div class="out" (click)="handleHit('out')"></div>

  @for (number of numbers; track $index) {
  <span [class]="'num-' + number">{{number}}</span>
  }
</div>