<div id="score-table"></div>
<h2>Throwing: {{player}}</h2>
<div class="darts-board">
  <div class="inner-bull" (click)="handleHit('inner-bull')"></div>
  <div class="outer-bull" (click)="handleHit('outer-bull')"></div>
  
  <div class="single-inner-1" (click)="handleHit('single-inner-1')"></div>
  <div class="single-inner-2" (click)="handleHit('single-inner-2')"></div>
  <div class="single-inner-3" (click)="handleHit('single-inner-3')"></div>
  <div class="single-inner-4" (click)="handleHit('single-inner-4')"></div>
  <div class="single-inner-5" (click)="handleHit('single-inner-5')"></div>
  <div class="single-inner-6" (click)="handleHit('single-inner-6')"></div>
  <div class="single-inner-7" (click)="handleHit('single-inner-7')"></div>
  <div class="single-inner-8" (click)="handleHit('single-inner-8')"></div>
  <div class="single-inner-9" (click)="handleHit('single-inner-9')"></div>
  <div class="single-inner-10" (click)="handleHit('single-inner-10')"></div>
  <div class="single-inner-11" (click)="handleHit('single-inner-11')"></div>
  <div class="single-inner-12" (click)="handleHit('single-inner-12')"></div>
  <div class="single-inner-13" (click)="handleHit('single-inner-13')"></div>
  <div class="single-inner-14" (click)="handleHit('single-inner-14')"></div>
  <div class="single-inner-15" (click)="handleHit('single-inner-15')"></div>
  <div class="single-inner-16" (click)="handleHit('single-inner-16')"></div>
  <div class="single-inner-17" (click)="handleHit('single-inner-17')"></div>
  <div class="single-inner-18" (click)="handleHit('single-inner-18')"></div>
  <div class="single-inner-19" (click)="handleHit('single-inner-19')"></div>
  <div class="single-inner-20" (click)="handleHit('single-inner-20')"></div>
  
  <div class="triple-1" (click)="handleHit('triple-1')"></div>
  <div class="triple-2" (click)="handleHit('triple-2')"></div>
  <div class="triple-3" (click)="handleHit('triple-3')"></div>
  <div class="triple-4" (click)="handleHit('triple-4')"></div>
  <div class="triple-5" (click)="handleHit('triple-5')"></div>
  <div class="triple-6" (click)="handleHit('triple-6')"></div>
  <div class="triple-7" (click)="handleHit('triple-7')"></div>
  <div class="triple-8" (click)="handleHit('triple-8')"></div>
  <div class="triple-9" (click)="handleHit('triple-9')"></div>
  <div class="triple-10" (click)="handleHit('triple-10')"></div>
  <div class="triple-11" (click)="handleHit('triple-11')"></div>
  <div class="triple-12" (click)="handleHit('triple-12')"></div>
  <div class="triple-13" (click)="handleHit('triple-13')"></div>
  <div class="triple-14" (click)="handleHit('triple-14')"></div>
  <div class="triple-15" (click)="handleHit('triple-15')"></div>
  <div class="triple-16" (click)="handleHit('triple-16')"></div>
  <div class="triple-17" (click)="handleHit('triple-17')"></div>
  <div class="triple-18" (click)="handleHit('triple-18')"></div>
  <div class="triple-19" (click)="handleHit('triple-19')"></div>
  <div class="triple-20" (click)="handleHit('triple-20')"></div>
  
  <div class="single-outer-1" (click)="handleHit('single-outer-1')"></div>
  <div class="single-outer-2" (click)="handleHit('single-outer-2')"></div>
  <div class="single-outer-3" (click)="handleHit('single-outer-3')"></div>
  <div class="single-outer-4" (click)="handleHit('single-outer-4')"></div>
  <div class="single-outer-5" (click)="handleHit('single-outer-5')"></div>
  <div class="single-outer-6" (click)="handleHit('single-outer-6')"></div>
  <div class="single-outer-7" (click)="handleHit('single-outer-7')"></div>
  <div class="single-outer-8" (click)="handleHit('single-outer-8')"></div>
  <div class="single-outer-9" (click)="handleHit('single-outer-9')"></div>
  <div class="single-outer-10" (click)="handleHit('single-outer-10')"></div>
  <div class="single-outer-11" (click)="handleHit('single-outer-11')"></div>
  <div class="single-outer-12" (click)="handleHit('single-outer-12')"></div>
  <div class="single-outer-13" (click)="handleHit('single-outer-13')"></div>
  <div class="single-outer-14" (click)="handleHit('single-outer-14')"></div>
  <div class="single-outer-15" (click)="handleHit('single-outer-15')"></div>
  <div class="single-outer-16" (click)="handleHit('single-outer-16')"></div>
  <div class="single-outer-17" (click)="handleHit('single-outer-17')"></div>
  <div class="single-outer-18" (click)="handleHit('single-outer-18')"></div>
  <div class="single-outer-19" (click)="handleHit('single-outer-19')"></div>
  <div class="single-outer-20" (click)="handleHit('single-outer-20')"></div>
  
  <div class="double-1" (click)="handleHit('double-1')"></div>
  <div class="double-2" (click)="handleHit('double-2')"></div>
  <div class="double-3" (click)="handleHit('double-3')"></div>
  <div class="double-4" (click)="handleHit('double-4')"></div>
  <div class="double-5" (click)="handleHit('double-5')"></div>
  <div class="double-6" (click)="handleHit('double-6')"></div>
  <div class="double-7" (click)="handleHit('double-7')"></div>
  <div class="double-8" (click)="handleHit('double-8')"></div>
  <div class="double-9" (click)="handleHit('double-9')"></div>
  <div class="double-10" (click)="handleHit('double-10')"></div>
  <div class="double-11" (click)="handleHit('double-11')"></div>
  <div class="double-12" (click)="handleHit('double-12')"></div>
  <div class="double-13" (click)="handleHit('double-13')"></div>
  <div class="double-14" (click)="handleHit('double-14')"></div>
  <div class="double-15" (click)="handleHit('double-15')"></div>
  <div class="double-16" (click)="handleHit('double-16')"></div>
  <div class="double-17" (click)="handleHit('double-17')"></div>
  <div class="double-18" (click)="handleHit('double-18')"></div>
  <div class="double-19" (click)="handleHit('double-19')"></div>
  <div class="double-20" (click)="handleHit('double-20')"></div>
  
  <div class="out" (click)="handleHit('out')"></div>
  
  <span class="num-1">1</span>
  <span class="num-2">2</span>
  <span class="num-3">3</span>
  <span class="num-4">4</span>
  <span class="num-5">5</span>
  <span class="num-6">6</span>
  <span class="num-7">7</span>
  <span class="num-8">8</span>
  <span class="num-9">9</span>
  <span class="num-10">10</span>
  <span class="num-11">11</span>
  <span class="num-12">12</span>
  <span class="num-13">13</span>
  <span class="num-14">14</span>
  <span class="num-15">15</span>
  <span class="num-16">16</span>
  <span class="num-17">17</span>
  <span class="num-18">18</span>
  <span class="num-19">19</span>
  <span class="num-20">20</span>
</div>