<div class="info-wrapper">
    <div class="nes-container with-title small-bottom-spacing" [style.background-color]="teamColour">
        <p class="title">{{team}}</p>
        <div class="throwing-wrapper">
            <div class="player">
                <img class="nes-avatar is-rounded is-large" alt="Player" [src]="player"
                    style="image-rendering: pixelated;">
            </div>
        </div>
    </div>

    <div class="nes-container with-title small-bottom-spacing">
        <p class="title">Scores</p>
        <div class="throwing-wrapper scores">
            <div [style.color]="teamOneColour">{{teamOneScore}}</div>
            <div>-</div>
            <div [style.color]="teamTwoColour">{{teamTwoScore}}</div>
        </div>
    </div>
</div>


<app-board [colouredSections]="colouredNumbers" [colouredDoubles]="colouredNumbers" [colouredTriples]="colouredNumbers"
    [innerTexts]="marks" [outerBullseyeColour]="bullseyeColour" [innerBullseyeColour]="bullseyeColour"
    (hit)="recordHit($event)"></app-board>

<button type="button" class="nes-btn is-warning" (click)="forfeitClicked()">FORFEIT</button>

<dialog #confirmDialog class="nes-dialog" id="dialog-default">
    <form method="dialog">
        <p>Numbers hit: {{numbersHitThisTurn}}</p>
        <p>Happy with these numbers?</p>
        <div class="dialog-menu">
            <button (click)="resetTargets()" class="nes-btn">No</button>
            <button (click)="confirmTargets()" class="nes-btn is-primary">Yes</button>
        </div>
    </form>
</dialog>

<dialog #confirmForfeitDialog class="nes-dialog" id="dialog-default">
    <form method="dialog">
        <p>Are you sure you want to forfeit?</p>
        <p>Are we sure this isn't a classic Andy cock up?</p>
        <div class="dialog-menu">
            <button class="nes-btn">Oops, fucking Andy</button>
            <button (click)="confirmForfeit()" class="nes-btn is-primary">Yes, I accept defeat</button>
        </div>
    </form>
</dialog>