<section class="nes-container with-title small-bottom-spacing">
    <p class="title">Round {{round}} </p>
    <div class="team-group">
        @for (player of players; track $index) {
        <app-player [player]="player.name" [displayName]="player.score" [pulse]="player.isActive"></app-player>
        }
        @if (recentRoundStats[round]) {
        <div>
            <div>{{recentRoundStats[round].lastGame| numberTotal}}</div>
            <div>{{recentRoundStats[round].lastFiveGames| numberTotal}}</div>
            <div>{{recentRoundStats[round].lastTenGames| numberTotal}}</div>
            <div>{{recentRoundStats[round].lastTwentyGames| numberTotal}}</div>
            <div>{{recentRoundStats[round].totalGames| numberTotal}}</div>
        </div>
        }
    </div>
</section>

<app-board [points]="heatMap[round]" [colouredSections]="colouredNumbers" (hit)="recordHit($event)"></app-board>
<div class="large-top-spacing"></div>
<app-standard-score-card [players]="players"></app-standard-score-card>

<dialog #confirmDialog class="nes-dialog" id="dialog-default">
    <form method="dialog">
        <p>Numbers hit: {{numbersHitThisTurn}}</p>
        <p>Happy with these numbers?</p>
        <div class="dialog-menu">
            <button (click)="resetTargets()" class="nes-btn">No</button>
            <button (click)="confirmTargets()" class="nes-btn is-primary">Yes</button>
        </div>
    </form>
</dialog>