<div class="nes-container with-title bottom-spacing">
    <p class="title">Setting targets - {{team}}</p>
    <div class="throwing-wrapper">
        <div class="player">
            <img class="nes-avatar is-rounded is-large" alt="Player" [src]="player" style="image-rendering: pixelated;">
        </div>
        <div class="throws">
            <div [ngClass]="{'pulse': recordedNumbers.length == 0}">
                <i [ngClass]="{'is-transparent': recordedNumbers.length > 0}"
                    class="nes-icon is-large is-transparent heart"></i>
            </div>
            <div [ngClass]="{'pulse': recordedNumbers.length == 1}">
                <i [ngClass]="{'is-transparent': recordedNumbers.length > 1}"
                    class="nes-icon is-large is-transparent heart"></i>
            </div>
            <div [ngClass]="{'pulse': recordedNumbers.length == 2}">
                <i [ngClass]="{'is-transparent': recordedNumbers.length > 2}"
                    class="nes-icon is-large is-transparent heart"></i>
            </div>
        </div>
    </div>
</div>

<app-board [colouredSections]="colouredNumbers" (hit)="recordTarget($event)"></app-board>


<dialog #confirmDialog class="nes-dialog" id="dialog-default">
    <form method="dialog">
        <p>Targets selected: {{recordedNumbers.join(', ')}}</p>
        <p>Happy with these targets?</p>
        <div class="dialog-menu">
            <button (click)="resetTargets()" class="nes-btn">No</button>
            <button (click)="confirmTargets()" class="nes-btn is-primary">Yes</button>
        </div>
    </form>
</dialog>