<section class="match-up bottom-spacing">
    <div class="nes-container with-title">
        <p class="title">Team 1</p>
        <div class="team-group">
            <div class="player" [ngClass]="{'pulse': selectingPlayer == 1}">
                <img class="nes-avatar is-rounded is-large" alt="P1" [src]="avatars[0]"
                    style="image-rendering: pixelated;">
                <span>P1</span>

            </div>
            <div class="player" [ngClass]="{'pulse': selectingPlayer == 2}">
                <img class="nes-avatar is-rounded is-large" alt="P2" [src]="avatars[1]"
                    style="image-rendering: pixelated;">
                <span>P2</span>
            </div>
        </div>
    </div>

    <div>vs</div>

    <div class="nes-container with-title">
        <p class="title">Team 2</p>
        <div class="team-group">
            <div class="player" [ngClass]="{'pulse': selectingPlayer == 3}">
                <img class="nes-avatar is-rounded is-large" alt="P3" [src]="avatars[2]"
                    style="image-rendering: pixelated;">
                <span>P3</span>

            </div>
            <div class="player" [ngClass]="{'pulse': selectingPlayer == 4}">
                <img class="nes-avatar is-rounded is-large" alt="P4" [src]="avatars[3]"
                    style="image-rendering: pixelated;">
                <span>P4</span>
            </div>
        </div>

    </div>
</section>

<section class="character-selection">
    <div class="nes-container with-title">
        <p class="title">Select your characters</p>
        <section class="characters">
            @for (character of allCharacters; track $index) {
            <img (click)="handlePlayerSelection(character)" class="nes-avatar is-rounded is-large" alt="Joe"
                [src]="character" style="image-rendering: pixelated;">
            }
        </section>
    </div>
</section>

<dialog #confirmDialog class="nes-dialog" id="dialog-default">
    <form method="dialog">
        <p>Happy with these teams?</p>
        <div class="dialog-menu">
            <button (click)="resetPlayers()" class="nes-btn">No</button>
            <button (click)="confirmPlayers()" class="nes-btn is-primary">Yes</button>
        </div>
    </form>
</dialog>