.match-up {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.team-group {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 3rem;
}