@font-face {
    font-family: 'Press Start 2P';
    src: url('assets/PressStart2P-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html,
body,
pre,
code,
kbd,
samp {
    font-family: "Press Start 2P";
}

h1 {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 3rem !important;
}

h3 {
    text-align: center;
    font-size: 2rem;
}

.large-bottom-spacing {
    margin-bottom: 3rem !important;
}

.large-top-spacing {
    margin-top: 3rem !important;
}

.small-bottom-spacing {
    margin-bottom: 1rem !important;
}

.small-top-spacing {
    margin-top: 1rem !important;
}

.dialog-menu {
    display: flex;
    justify-content: space-between;
}

.center {
    display: flex;
    justify-content: center;
}

.hidden-link {
    text-decoration: none;
    color: inherit;

    &:hover {
        text-decoration: none;
        color: inherit;
        cursor: inherit;
    }
}

.nes-setting-option {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
}

.nes-radio-list {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}