body {
    display: block;
    height: 100vh;
    background: url('/dartboard-background.jpg') no-repeat center center;
    background-blend-mode: lighten;
    background-size: cover;
    // filter: brightness(70%) blur(5px);
    margin: 0;
    padding: 0;

    color: rgb(236, 236, 236);
}