@if (hasCompletedAHole) {
<div class="nes-table-responsive large-bottom-spacing">
    <table class="nes-table is-bordered is-centered">
        <thead>
            <tr>
                <th>Hole</th>
                @for (team of teams; track $index) {
                <th>
                    <app-player [player]="team.firstThrower.name"
                        [secondaryPlayer]="team.secondThrower.name"></app-player>
                </th>
                }
            </tr>
        </thead>
        <tbody>
            @for (hole of holes; track $index) {
            <tr>
                <td>{{hole}}</td>
                @for (team of teams; track $index) {
                <td>
                    {{team.scoreAtHole(hole) | golfScore}}
                </td>
                }
            </tr>
            }
        </tbody>
    </table>
</div>
}
@else {
<section class="nes-container with-title large-bottom-spacing">
    <p class="title">Score Card </p>
    Complete first hole to see score card
</section>
}